<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
 <!--  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>scrobblefilter.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/scrobblefilter/greet</url-pattern>
  </servlet-mapping>
  --> 
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ScrobbleFilter.html</welcome-file>
  </welcome-file-list>
  
  <listener>
  		  	<listener-class>scrobblefilter.web.ContextInitializer</listener-class>
  </listener>
  
  
  	<!--  spring servlet -->
		<servlet>
            <servlet-name>scrobblefilter</servlet-name>
            <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
            <load-on-startup>1</load-on-startup>
        </servlet>

         <servlet-mapping>
           <servlet-name>scrobblefilter</servlet-name>
           <url-pattern>/hello/*</url-pattern>
         </servlet-mapping>
         
         
  
  <security-constraint>
        <web-resource-collection>
            <url-pattern>/hello/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>
